<div id="delete-channel-modal" class="modal hide fade in" style="display:none ">
	<div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Confirm deletion</h3>
            </div>
            <div class="modal-body">
              <h4>Are you sure you want to delete the following channel ?</h4>
			  <h2 id="channel-query"></h2>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-large" data-dismiss="modal">Cancel</a>
              <a id="confirm-delete" href="#" class="btn btn-primary btn-large" data-dismiss="modal">Yes, get rid of it!</a>
			  <input type="hidden" id="channel-id-to-delete"></input>
	</div>
</div>
<div id="save-search-modal" class="modal hide fade in" style="display:none ">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Create a new channel</h3>
    </div>
	<%= form_tag({:controller => "saved_searches", :action => "create"}, :method => "post") do %>	
		<div class="modal-body">
			<h4>You will create a channel with the following query</h4>
			<br/>
			<%= text_field_tag :query %>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-large" data-dismiss="modal">Cancel</a>
			<%= submit_tag "Add this feed to the list", :class => 'btn btn-primary btn-large' %>	

		</div>
	<% end %>
</div>
<div class="row">
	<div class="span4">
		<div class="well">
		<h2>Your channels</h2>	
		<div class="channel-overview">
		<% @channels.each do |channel| %>
			<div id ="channel-container_<%=  channel.id %>">
				<div class="pull-right">
					<a data-toggle="modal" href="#delete-channel-modal" id="channel_<%=  channel.id %>" class="delete-channel"><i class='icon-trash'></i></a>
				</div>
				<%= link_to raw('<h3 id="channel-title_' + channel.id.to_s + '">' + channel.query + '</h3>'), channel_path(channel) %>
				<h4><%=  channel.count.to_s %> new items</h4>
			</div>
		<% end %>
		</div>
			<a data-toggle="modal" class="btn btn-primary  btn-large" href="#save-search-modal"><i class='icon-plus-sign'></i>&nbsp;&nbsp;Create a new channel</a>
	</div>
	</div>
	<div class="span4">
		<div class="well">
		<h2>Your articles </h2>
		<div>
      <a href="articles" class="btn btn-primary btn-large"><i class='icon-arrow-right'></i>&nbsp;All articles</a>
      <a href="user_articles" class="btn btn-primary btn-large"><i class='icon-arrow-right'></i>&nbsp;Hearticles</a>
	  <div class="btn-group">
		<button class="dropdown-toggle menu btn btn-primary btn-large" data-toggle="dropdown-menu"><i class='icon-arrow-right'></i>&nbsp;Specific feed <b class="caret"></b></button>
					  <ul class="dropdown-menu">
			          <% @feeds.each do |feed| %>
			            <li><a href="articles?feed_id=<%= feed.id %>"><%= feed.shortname %></a></li>
			          <% end %>
			          </ul>
					</div>
    </div>
<div>
<%= form_tag articles_path, method: :get do %>
		<h3>Search</h3>
	  
	    <%= text_field_tag :query, params[:query], :placeholder => 'Search articles', :id => "search-articles" %>
	<% end %>
</div>
</div>
</div>
<div class="span4">
	<div class="well">
<h2>Other actions</h2>
	<a href="feeds" class="btn btn-primary  btn-large"><i class='icon-arrow-right'></i>&nbsp;Manage your feeds</a>
</div>

</div>
</div>
