		<div class="navbar navbar-static">
		            <div class="navbar-inner">
		              <div id="channel-container" class="container" style="width: auto;">
		                <a id="saved_search_<%= @saved_search.id %>" class="brand" href="#">Channel: <%= @saved_search.name %></a>
		                
						<ul class="nav">
		                  <li class="dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter by Feed <b class="caret"></b></a>
		                    <ul class="dropdown-menu">
								<li><%= link_to "All", feed_id: nil %></li>
<% unless @articles.length == 0					
	@articles.facets['feeds']['terms'].each do |facet| 
		if params[:feed_id] == facet['term'].to_s
	      checked = " <i class='icon-ok'></i>"
		else
	      checked = ""
		end
%>
								<li><%= link_to raw(checked + Feed.find(facet['term']).name  + ' (' + facet['count'].to_s + ')') , params.merge(feed_id: facet['term']) %></li>
	<% end %>
<% end %>					
		                    </ul>
		                  </li>
		              	</ul>
						
						<ul class="nav pull-right">
							<li><%= link_to raw("<i class='icon-arrow-left'></i>&nbsp;<b>Go back to your Dashboard</b>"), :channels  %></li>
		              	</ul>
		              </div>
		            </div>
		          </div>
<% unless @articles.length == 0 %>					
				<div class="article-container">
	<%= render :partial => 'articles/article', :collection => @articles, :locals => {:last_access => @saved_search.last_access} %>
				</div>
	<%= paginate @articles %>
<% else %>
		<i class='icon-exclamation-sign pull-left' style="font-size:46px;"></i>
		<h2 style="line-height:34px;padding-left:40px">
			Seems like there is nothing here. Go back to your dashboard, add feeds or change your channel to enjoy the read!
		</h2>
<% end %>