
	<%= link_to raw("<i class='icon-arrow-left'></i>&nbsp;<b>Go back to your Dashboard</b>"), :back, :class => "btn btn-primary pull-right"  %>


<% unless @saved_search.articles.length == 0 %>
	<div id="facets">
	  <h3>Feeds (Faceted Search)</h3>
	  <ul>
	    <% @saved_search.articles.facets['feeds']['terms'].each do |facet| %>
	      <li>
	        <%= link_to_unless_current Feed.find(facet['term']).name, params.merge(feed_id: facet['term']) %>
	        <% if params[:feed_id] == facet['term'].to_s %>
	          (<%= link_to "remove", feed_id: nil %>)
	        <% else %>
	          (<%= facet['count'] %>)
	        <% end %>
	      </li>
	    <% end %>
	  </ul>
	</div>
	<div class="article-container">
      	<%= render :partial => 'articles/article', :collection => @saved_search.articles %>
	</div>
	 <%= paginate @saved_search.articles %>
<% else %>
<i class='icon-exclamation-sign pull-left' style="font-size:46px;"></i>
<h2 style="line-height:34px;padding-left:40px">Seems like you haven't added any feeds yet. Add feeds and enjoy the read!</h2>

<% end %>
