<div class="well">
<%= link_to raw("<i class='icon-arrow-left'></i>&nbsp;<b>Go back</b>"), :back, :class => "btn btn-primary pull-right"  %>
<h2>We currently have the following feeds</h2>
</div>	

<% @feeds.each do |feed| %>
<div class="row" style="border-top: 1px solid #BCBCBC;padding-top:3px;padding-bottom:3px;">
	<div class="span9">
	<h3><%= feed.name %> <small><%= feed.url %></small></h3>
	</div>
	<div class="span3 feed-action">
		<% if current_user %>
			<a href="#" id="add_<%= feed.id %>" class="btn btn-primary add-feed <%= check_if_disabled(false,current_user,feed) %>"><i class="icon-plus"></i>&nbsp;Add</a>
			<a href="#" id="rem_<%= feed.id %>" class="btn btn-primary remove-feed <%= check_if_disabled(true,current_user,feed) %>"><i class="icon-minus"></i>&nbsp;Remove</a>
		<% end %>
	</div>
</div>
<% end %>

<%= link_to 'New Feed', new_feed_path, :class => 'btn btn-primary' %>
