<div class="navbar navbar-static">
	<div class="navbar-inner">
	    <div class="container" style="width: auto;">
	      <a class="brand" href="#">We currently have the following feeds</a>
			<ul class="nav pull-right">
				<li><%= link_to raw("<i class='icon-arrow-left'></i>&nbsp;<b>Go back to your Dashboard</b>"), :channels  %></li>
	        </ul>
		</div>
	</div>
</div>
<% @feeds.each do |feed| %>
<div class="row feed-item">
	<div class="span8">
	<h3><%= feed.name %> <small><%= feed.url %></small></h3>
	</div>
		<% if current_user %>
	<div class="span3 pull-right feed-action">
	
			<a href="#" id="add_<%= feed.id %>" class="btn btn-primary add-feed <%= check_if_disabled(false,current_user,feed) %>"><i class="icon-plus"></i>&nbsp;Add</a>
			<a href="#" id="rem_<%= feed.id %>" class="btn btn-primary remove-feed <%= check_if_disabled(true,current_user,feed) %>"><i class="icon-minus"></i>&nbsp;Remove</a>
	</div>
	<% end %>
</div>
<% end %>

<%= link_to 'New Feed', new_feed_path, :class => 'btn btn-primary' %>
