<div class="article <%= is_read_or_new(article,current_user.id,last_access) %>" data-article-id="<%= article.id  %>">	
	<div class="article-header" id="<%= article.id %>_header" >
   		<div class="article-actions">
			<a><i id="heart_<%= article.id %>" class="<%= is_hearted(article.id,current_user.id) %> heart"></i></a>
			<a id="mail_<%= article.id %>" class="mail" href="mailto:?subject=FYI: <%= article.name %>&amp;body=
				Hello,%0D%0A
				I think you would be interested by this article:%0D%0A
				%0D%0A
				<%= article.name %>%0D%0A
				<%= article.feed_name %> -- <%= article.published.try(:strftime,'%d %b %Y') %>%0D%0A
				<%= URI.escape(article.url) %>%0D%0A
				%0D%0A
				I found it using RSSYeah%0D%0A
				Have a nice day
				" target="_blank">
			<i class="icon-envelope"></i></a>
		</div>
		<h3 id="title_<%= article.id %>" class="article-title" data-toggle="collapse" data-target="#<%= article.id %>">
			<%= article.name %><small class="pull-right"><%= article.published.try(:strftime,'%d %b %Y') %></small>
		</h3>
		<h5>
			<%= article.feed_short %>
			<% unless article.author.nil?  %>	
				, by <%= article.author.gsub(/<\/?[^>]*>/, "") %>
			<% end %>	
		</h5>
	</div>
	<div class="collapse article-content" id="<%= article.id %>">
		<div class="article-summary">
			<%= raw article.summary  %>
		</div>
		<div class="article-footer">
		
		<div class="article-actions">
			<a><i id="b_heart_<%= article.id %>" class="<%= is_hearted(article.id,current_user.id) %> b_heart"></i></a>
			<a id="b_mail_<%= article.id %>" class="b_mail" target="_blank"><i class="icon-envelope"></i></a>
		</div>
		<a href="<%= article.url %>" class="btn btn-primary go-to-article" target="_blank"><i class='icon-arrow-right'></i>&nbsp;<b>Go to Article</b></a>
		<div style="clear:both">&nbsp;</div>
		</div>
	</div>
  </div>
