<h1>Article</h1>

<p>
  <b>Name</b><br>
  <%= @article.name %>
</p>

<p>
  <b>Summary</b><br>
  <%= @article.summary %>
</p>

<p>
  <b>Url</b><br>
  <%= @article.url %>
</p>

<p>
  <b>Published at</b><br>
  <%= @article.published %>
</p>

<p>
  <b>Guid</b><br>
  <%= @article.guid %>
</p>

<div class="form-actions">
  <%= link_to 'Back', articles_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_article_path(@article), :class => 'btn' %>
  <%= link_to 'Delete', article_path(@article), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
