<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @article.name %>
</p>

<p>
  <b>Summary:</b>
  <%= @article.summary %>
</p>

<p>
  <b>Url:</b>
  <%= @article.url %>
</p>

<p>
  <b>Published at:</b>
  <%= @article.published_at %>
</p>

<p>
  <b>Guid:</b>
  <%= @article.guid %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
