<h1>Listing saved_searches</h1>

<table>
  <tr>
    <th>Query</th>
    <th>(New)</th>
    <th>Last access</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @saved_searches.each do |saved_search| %>
  <tr>
    <td><%= saved_search.query %></td>
    <td>(<%= @new_articles[saved_search.id] %>)</td>
    <td><%= saved_search.last_access %></td>
    <td><%= link_to 'Show', channel_path(saved_search) %></td>
    <td><%= link_to 'Edit', edit_saved_search_path(saved_search) %></td>
    <td><%= link_to 'Destroy', saved_search, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Saved search', new_saved_search_path %>
