<h1>User</h1>

<p>
  <b>Username</b><br>
  <%= @user.username %>
</p>

<p>
  <b>Email</b><br>
  <%= @user.email %>
</p>

<p>
  <b>Crypted password</b><br>
  <%= @user.crypted_password %>
</p>

<p>
  <b>Password salt</b><br>
  <%= @user.password_salt %>
</p>

<p>
  <b>Persistence token</b><br>
  <%= @user.persistence_token %>
</p>

<div class="form-actions">
  <%= link_to 'Back', users_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_user_path(@user), :class => 'btn' %>
  <%= link_to 'Delete', user_path(@user), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
