<%= form_for(@user_session) do |f| %>
  <% if @user_session.errors.any? %>
	<div class="alert alert-block">
	  <a class="close" data-dismiss="alert-error">×</a>
	  <h4 class="alert-heading">Oooops</h4>
	  <% @user_session.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
	</div>
  <% end %>

    <%= f.text_field :username, :placeholder => "Username or email", :class => "text-input email-input span3" %>
<%= f.password_field  :password, :placeholder => "Password", :class => "text-input span3"  %>
<%= f.submit 'Sign in', :class => 'btn primary-btn' %>
<% end %>
