<%= form_for(@user_session) do |f| %>
  <% if @user_session.errors.any? %>
	<div class="alert alert-block">
	  <a class="close" data-dismiss="alert-error">×</a>
	  <h4 class="alert-heading">Oooops</h4>
	  <% @user_session.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
	</div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field  :password %>
  </div>
  <div class="actions">
    <%= f.submit("Login") %>
  </div>
<% end %>
