<%= form_for(@user_session, :html => { :class => "well form-horizontal", :id=>"login-form"}) do |f| %>
  <% if @user_session.errors.any? %>
	<div class="alert alert-block">
	  <a class="close" data-dismiss="alert">×</a>
	  <h4 class="alert-heading">Oooops</h4>
	  <% @user_session.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
	</div>
  <% end %>

<%= f.text_field :username, :placeholder => "Username or email", :class => "span3 bottom-10px" %>
<%= f.password_field  :password, :placeholder => "Password", :class => "span3 bottom-10px"  %>
<%= f.submit 'Sign in', :class => 'btn btn-primary btn-large' %>
<% end %>
