<h1>Listing smart_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Query</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @smart_categories.each do |smart_category| %>
  <tr>
    <td><%= smart_category.name %></td>
    <td><%= smart_category.query %></td>
    <td><%= link_to 'Show', smart_category %></td>
    <td><%= link_to 'Edit', edit_smart_category_path(smart_category) %></td>
    <td><%= link_to 'Destroy', smart_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>



<%= link_to 'New Smart category', new_smart_category_path %>
